version: "3"
services:
  checkit_frontend:  # Konfigurationssektion für das Frontend
    image: "ghcr.io/oliverfida/checkit_frontend:latest"
    container_name: "checkit_frontend"
    ports:
    - "80:8080" # Erste Zahl ist der zu benutzende Backendport
    
    # Ab nächster Zeile auskommentieren, falls Backendconfig benutzt werden soll
    # environment: 
    #   - CHECKIT_BACKEND_PROTOCOL="http" # Protokoll, mit dem das Backend vom Frontend angesprochen wird
    #   - CHECKIT_BACKEND_PORT="5000" # Port, an dem das Backend erreichbar ist. Muss mit dem Port in der Backensektion übereinstimmen.
    #   - CHECKIT_BACKEND_ADDRESS="localhost" # Adresse des Backends, alle üblichen Formate (IP, Hostname, etc.) werden akzeptiert
   
    restart: always

  checkit_backend: # Konfigurationssektion für das Backend
    image: "ghcr.io/oliverfida/checkit_backend:latest"
    ports:
      - "5000:5000" # Erste Zahl ist der zu benutzende Backendport
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:5000"
    volumes:
      - ./checkit.db:/data/checkit.db # Der Teil vor ":" ist der Pfad zur Datenbankdatei
    container_name: "checkit_backend"
    restart: always
