table {
    margin: 0 10px;
}
table.useredit th {
    text-align: left;
}

table.userprofile td {
    padding: 10px 10px;
    width: 50%;
    vertical-align: middle;
}

.bookingNotes {
    max-height: 200px;
}